@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import './mixin';
@import './variables';

/*information*/
.information-wrapper {
    @include flex;
    background-color: $palette-primary1;
    padding: 60px 24px 52px 24px;
    background-image: url(../img/svg/白色海浪.svg);
    // background-size: 4784px 586px;
    // -moz-background-size: 4784px 586px;
    // -webkit-background-size: 4784px 586px;
    // -o-background-size: 4784px 586px;
    // background-size: 4784px 586px;
    background-position: center;
    background-repeat: no-repeat;

    & .information-titleGroup {
        @include flex;

        p {
            margin-bottom: 4px;
            color: $color-white;
            @include font(32px, 700, 125%, 0.2em)
        }

        p:nth-last-child(1) {
            font-size: 28px;
            margin-bottom: 0;
        }
    }

    & .default-btn {
        @include button($palette-primary2) {
            box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
            color: $color-white;
            margin: 32px 0;
            width: 200px;

            &:active {
                background-color: #D3A995;
            }
        }
    }

    & .infos {
        @include cardStyle(16px 24px, $palette-primary3, 20px) {
            box-sizing: border-box;
        }

        position: relative;

        &>img {
            position: absolute;
        }

        & .supImg {
            top: -30px;
            right: 16px;
        }

        & .fireSupImg {
            bottom: -50px;
            left: 38px;
        }

        & .fireImg {
            bottom: -52px;
            left: 11px;
            animation: zoom 3s ease-in-out;
            animation-iteration-count: infinite;
            z-index: 10;

            @keyframes zoom {
                from {
                    opacity: 1;
                    transform: scale(1);
                }

                to {
                    opacity: 0.2;
                    transform: scale(1.5);
                }
            }
        }

        & .infos-titleGroup {
            @include flex;
            flex-direction: row;
            margin-bottom: 16px;
        }

        h5 {
            color: $palette-primary1;
            margin: 0 3px;
        }

        ul {
            list-style-type: decimal;
            list-style-position: inside;
            margin-bottom: 24px;

            li {
                color: $palette-primary1;

                & .underline {
                    text-decoration: underline;
                }

                & .bold {
                    font-weight: 700;
                }
            }
        }

        ul:nth-last-child(1) {
            margin-bottom: 0;
        }
    }
}